@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

/* To use the fonts!
  font-family: "Inter", sans-serif; 
  font-family: "Raleway", sans-serif;
*/

body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  background: #f5f7fa;
}

/* ------------------------------------------Header Nav and banner------------------------------------ */
header {
  background: #f5f7fa url("../assets/Hero-bg.png") repeat;
  min-width: 1158px;
  height: 900px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.navbar {
  width: 1158px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  z-index: 2;
}

.navbar ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar li:first-child {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 34px;
  color: rgb(78, 71, 255);
  letter-spacing: 0%;
  width: 99px;
  height: 51px;
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar .nav-btn {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
  background: #3d3ded;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  padding: 12px 36px 12px 36px;
  width: 132px;
  height: 48px;
}

.navbar .nav-btn:hover {
  background: #2323b5;
}

.banner-image {
  width: 100%;
  height: 0;
}

.banner-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.banner-content h1 {
  color: rgb(37, 36, 50);
  font-family: Raleway;
  font-size: 65px;
  font-weight: 700;
  line-height: 76px;
  letter-spacing: 0%;
  text-align: center;
}

.focus-btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 178px;
  height: 48px;
  color: #fff;
  background: rgb(78, 71, 255);
  border: none;
  border-radius: 8px;
  line-height: 150%;
  margin-top: 5px;
  cursor: pointer;
}

.focus-btn:hover {
  background: #2323b5;
}

/* --------------------------------------------ACTION SECTION--------------------------------------------- */

.action-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: #f6f8fe;
  margin-top: 116px;
}

.action-left {
  max-width: 517px;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.action-left h2 {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: rgb(37, 36, 50);
  margin: 0 0 23px 0;
}

.action-left p {
  color: rgba(37, 36, 50, 0.5);
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 30px;
  width: 517px;
  height: 60px;
  margin: 0 0 23px 0;
}

.action-btn {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 16px;
  width: 229px;
  height: 48px;
  color: #fff;
  background: #3d3ded;
  border: none;
  border-radius: 8px;
  padding: 12px 32px;
  cursor: pointer;
  margin-top: 0;
}

.action-btn:hover {
  background: #2323b5;
}

.action-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.action-img {
  width: 403px;
  height: 328px;
  border-radius: 40px;
  object-fit: cover;
  background: #fff;
}

/* -----------------------------Productive Section---------------------------- */

.productive-user-section {
  margin-top: 116px;
  background: none;
}

.productive-user-container {
  background: rgba(78, 71, 255, 0.1);
  border-radius: 16px;
  width: 1250px;
  height: 306px;
  padding: 50px 80px;
  box-sizing: border-box;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.productive-user-container h2 {
  font-family: "Raleway", sans-serif;
  font-size: 38px;
  font-weight: 700;
  color: rgb(37, 36, 50);
  text-align: center;
  line-height: 45px;
  margin: 0 0 40px 0;
}

.productive-user-stats {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 40px;
}

.productive-user-stat {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
}

.productive-user-stat .stat-number {
  font-family: "Inter", sans-serif;
  font-size: 56px;
  font-weight: 800;
  color: rgb(78, 71, 255);
  margin-bottom: 8px;
}

.productive-user-stat .stat-label {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  color: rgba(0, 0, 0, 0.5);
}

/* -----------------------------------------------User's Feedback Section------------------------------------------- */

.user-feedback-section {
  margin-top: 137px;
  background: #f6f8fe;
}

.user-feedback-section h2 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0%;
  color: rgb(37, 36, 50);
  margin-bottom: 40px;
}

.user-feedback-cards {
  display: flex;
  justify-content: center;
  gap: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.user-feedback-card {
  background: #fff;
  border-radius: 16px;
  box-shadow: 0 0 0 1px #ececf6;
  padding: 32px 24px;
  width: 366.67px;
  height: 243px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.stars {
  color: #22223b;
  font-size: 20px;
  margin-bottom: 18px;
}

.feedback-title {
  font-family: "Raleway", sans-serif;
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 12px;
  color: rgb(30, 30, 30);
}

.feedback-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #22223b;
  margin-bottom: 32px;
}

.feedback-reviewer {
  display: flex;
  align-items: center;
  margin-top: auto;
  gap: 12px;
  font-family: "Raleway", sans-serif;
}

.reviewer-photo {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ececf6;
}

.reviewer-name {
  color: rgb(117, 117, 117);
  font-size: 16px;
  font-weight: 600;
}

.reviewer-date {
  color: rgb(117, 117, 117);
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

/* ----------------------------------Web Conf Ready to focus better Section--------------------------------  */

.focus-hero-section {
  background: #f6f8fe;
  display: flex;
  justify-content: center;
  margin-top: 137px;
}

.focus-hero-container {
  background: rgb(255, 255, 255);
  border-radius: 24px;
  width: 100%;
  max-width: 1250px;
  padding: 71px 150px 71px 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: none;
}

.focus-hero-title {
  font-family: "Raleway", sans-serif;
  font-size: 48px;
  font-weight: 700;
  color: #22223b;
  text-align: center;
  margin: 0 0 20px 0;
}

.focus-hero-desc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-bottom: 20px;
}

.focus-hero-btn {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  background: rgb(78, 71, 255);
  border: none;
  border-radius: 8px;
  padding: 14px 36px;
  margin-bottom: 20px;
  cursor: pointer;
}

.focus-hero-btn:hover {
  background: #2323b5;
}

.focus-hero-image-wrap {
  margin-top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
}

.focus-hero-img {
  width: 100%;
  max-width: 840px;
  border-radius: 40px;
  display: block;
}

/* --------------------------------Contact Section--------------------------------- */

.contact-section {
  margin-top: 163.23px;
  margin-bottom: 71px;
  background-color: #f6f8ff;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 80px;
  max-width: 1250px;
  margin: 0 auto;
  flex-wrap: wrap;
  padding: 5px;
  background-color: #f6f8ff;
  border-radius: 12px;
}

.contact-left {
  flex: 1;
  min-width: 250px;
}

.contact-left h2 {
  font-size: 97px;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  color: rgb(0, 0, 0);
  line-height: 120%;
  letter-spacing: 0%;
  margin: 0;
}

/* form  */
.contact-right {
  flex: 1;
  min-width: 300px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.contact-form label {
  font-weight: 500;
  font-family: "Inter", sans-serif;
  font-size: 18px;
}

.contact-form input {
  max-height: 70px;
}

.contact-form input,
.contact-form textarea {
  padding: 14px 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 20px;
  font-family: "Inter", sans-serif;
  background-color: #fff;
  color: rgba(0, 0, 0, 0.5);
  width: 100%;
  box-sizing: border-box;
}

.contact-form textarea {
  max-height: 135px;
}

.contact-form button {
  margin-top: 10px;
  padding: 14px;
  background-color: rgb(78, 71, 255);
  color: rgb(255, 255, 255);
  font-weight: 700;
  height: 62px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.contact-form button:hover {
  background-color: #3737d3;
}

/* ---------------------Footer-------------------------------- */

.footer-section {
  background: #fff;
  padding: 103px 0 103px 0;
  text-align: center;
  border-top: 1px solid #ececf6;
}

.footer-logo {
  font-family: "Inter", sans-serif;
  font-size: 100px;
  font-weight: 900;
  color: rgb(78, 71, 255);
  letter-spacing: 0%;
  margin-bottom: 8px;
}

.footer-desc {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: rgb(137, 135, 161);
  margin-bottom: 20px;
  width: 531px;
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.footer-nav {
  display: flex;
  justify-content: center;
  gap: 48px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.footer-nav li {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  color: rgb(137, 135, 161);
  cursor: pointer;
}

.footer-nav a {
  text-decoration: none;
  color: rgb(137, 135, 161);
}

.footer-nav li:hover {
  color: rgb(137, 135, 161);
  text-decoration: underline;
}
